@media (max-width: 820px ) {
    
    
    /* hero */
    #hero {
        background-position: top 30% right 30%;
        height: 70vh;
        width: 100%;
        padding: 0 80px;
        
    }
    #featured {
        justify-content: center;
        flex-wrap: wrap;
    }
    #featured .fe-box {
        margin: 15px 15px;
    }
    #product .pro-container {
        justify-content: center;
    }
    #product .pro {
        margin: 15px;
    }
    #baner {
        height: 30vh;
    }
    #sm-baner .banner-box{
        min-width: 100%;
        height: 30vh;
        padding: 30px;
    }
    #baner3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 40px 40px;
    }
    #baner3 .banner-box {
        min-width: 28%;
    }

    /* contuct us */


    #contuct-details {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #contuct-details .map{
        margin-top: 20px;
        width: 100%;
    }
    #form-details {
        flex-direction: column;
    }
    #form-details form {
        margin-bottom: 30px;
    }



    
}





/* mobile */




@media (max-width: 477px ){
    #hero {
        background-position: 55%;
        padding: 0 20px;
    }
    h1 {
        font-size: 30px;
        
    }

    h2 {
        font-size: 30px;
        
    }
    .section-p1 {
        padding: 40px 20px;
    }
    #featured .fe-box {
        width: 155px;

        margin:0 0 15px 0;
    }
    #featured {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #product .pro {
        width: 100%;
    }
    #sm-baner .banner-box {
        min-width: 100%;
        height: 40vh;
        padding: 30px;
    }
    .secend{
        margin-top: 20px;
    }

    #baner3 {
        padding: 20px 20px;
    }
    #baner3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    #newslater input {
        width: 58%;
    }






    /* single product */



    #sproduct {
        flex-direction: column;
    }
    #sproduct .single-pro-img {
        width: 100%;
    }
    #sproduct .single-pro-details {
        width: 100%;
        padding-top: 30px;
    }


    /* blog posts */



    #blog .blog-box {
        flex-wrap: wrap;
        justify-content: center;
    }
    #blog .blog-img {
        width: 100%;
        margin-right: 0;
    }
    #blog .blog-img h1 {
        left: 20px;
        font-size: 66px;
    }
    #blog .blog-des {
        width: 100%;
    }


    /* About Us */
    #about-head {
        flex-direction: column;
    }
    #about-head .about-img {
        width: 100%;
        margin-right: 0;
    }
    #about-head .about-details {
        width: 100%;
    }

    /* contuct page */


    #contuct-details .details {
        width: 100%;
    }
    #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 100%;
    }
}
