<style>
    #about-header{
        background-color:rgb(225, 225, 225);
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 14PX;
        margin-bottom: 40px;
    }
    #about-header H2,
    #about-header P{
        color: rgb(0, 0, 0);
    }
</style>

<section id="about-header" >
    <h2>#cart</h2>
    <p>{{ section.settings.sub_text }}</p>
</section>

