<div id="copoun">
    <h3>Apply Copoun</h3>
    <form action="">
        <input type="text" placeholder="Enter Your Copoun" required>
        <button class="button1 normal">Submit</button>
    </form>
</div>